html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/*-----------------------------------------<<< Preference >>>------------------------------------------*/
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

/*-----------------------------------------<<< FontFace >>>------------------------------------------*/
@font-face {
  font-family: "roboto";
  src: url("Fonts/Roboto/Roboto-regular-webfont.eot");
  src: url("Fonts/Roboto/Roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/Roboto/Roboto-regular-webfont.woff2") format("woff2"), url("Fonts/Roboto/Roboto-regular-webfont.woff") format("woff"), url("Fonts/Roboto/Roboto-regular-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "shrikhand";
  src: url("Fonts/Shrikhand/Shrikhand-regular-webfont.eot");
  src: url("Fonts/Shrikhand/Shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/Shrikhand/Shrikhand-regular-webfont.woff2") format("woff2"), url("Fonts/Shrikhand/Shrikhand-regular-webfont.woff") format("woff"), url("Fonts/Shrikhand/Shrikhand-regular-webfont.ttf") format("truetype");
}
/*-----------------------------------------<<< Header >>>------------------------------------------*/
.home-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-header__title {
  margin: 40px 0 20px 0;
}
@media screen and (max-width: 992px) {
  .home-header__title {
    width: 60%;
  }
}
@media screen and (max-width: 567px) {
  .home-header__title {
    width: 40%;
  }
}

.resto-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.resto-header__back {
  margin: 20px 50px 0px 20px;
  font-size: 30px;
}
.resto-header__title {
  margin: 40px 0 20px 0;
}
@media screen and (max-width: 567px) {
  .resto-header__title {
    width: 40%;
  }
}

/*-----------------------------------------<<< Navigation >>>------------------------------------------*/
.nav {
  display: flex;
  justify-content: space-around;
}
.nav a:nth-child(3) {
  margin-bottom: 30px;
}
.nav a:hover {
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/*-----------------------------------------<<< Body >>>------------------------------------------*/
.home-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #eaeaea;
}

.resto-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #eaeaea;
}
.resto-main__image {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 992px) {
  .resto-main__image {
    height: 250px;
  }
}
@media screen and (max-width: 567px) {
  .resto-main__image {
    height: 200px;
  }
}

.resto-main-menu {
  width: 100%;
  border-radius: 35px 35px 0px 0px;
  position: relative;
  top: -30px;
  background: #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resto-main-menu-up {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 20px;
  align-self: flex-start;
  width: 92%;
}
@media screen and (max-width: 992px) {
  .resto-main-menu-up {
    width: 86%;
  }
}
@media screen and (max-width: 567px) {
  .resto-main-menu-up {
    width: 80%;
  }
}
.resto-main-menu-up__title {
  margin: 30px 0px 10px 0px;
  font-family: "shrikhand";
  font-size: 20px;
}
@media screen and (max-width: 992px) {
  .resto-main-menu-up__title {
    font-size: 19px;
  }
}
@media screen and (max-width: 567px) {
  .resto-main-menu-up__title {
    font-size: 16px;
  }
}
.resto-main-menu-up__logo {
  font-size: 24px;
}

@-webkit-keyframes enter {
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes enter {
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
.resto-main-menu-middle {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0;
  transform: translateY(2rem);
  -webkit-animation: enter 1500ms forwards;
          animation: enter 1500ms forwards;
}
.resto-main-menu-middle__entry {
  width: 32%;
}
.resto-main-menu-middle__entry > a {
  -webkit-animation: enter 0ms forwards;
          animation: enter 0ms forwards;
  opacity: 0;
  transform: translateY(2rem);
}
.resto-main-menu-middle__entry > a:nth-of-type(1) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.resto-main-menu-middle__entry > a:nth-of-type(2) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.resto-main-menu-middle__entry > a:nth-of-type(3) {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}
.resto-main-menu-middle__dishes {
  width: 32%;
}
.resto-main-menu-middle__dishes > a {
  -webkit-animation: enter 500ms forwards;
          animation: enter 500ms forwards;
  opacity: 0;
  transform: translateY(2rem);
}
.resto-main-menu-middle__dishes > a:nth-of-type(1) {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}
.resto-main-menu-middle__dishes > a:nth-of-type(2) {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
.resto-main-menu-middle__dishes > a:nth-of-type(3) {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}
.resto-main-menu-middle__dessert {
  width: 32%;
}
.resto-main-menu-middle__dessert > a {
  -webkit-animation: enter 1000ms forwards;
          animation: enter 1000ms forwards;
  opacity: 0;
  transform: translateY(2rem);
}
.resto-main-menu-middle__dessert > a:nth-of-type(1) {
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}
.resto-main-menu-middle__dessert > a:nth-of-type(2) {
  -webkit-animation-delay: 3500ms;
          animation-delay: 3500ms;
}
.resto-main-menu-middle__dessert > a:nth-of-type(3) {
  -webkit-animation-delay: 4000ms;
          animation-delay: 4000ms;
}
@media screen and (max-width: 992px) {
  .resto-main-menu-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
  .resto-main-menu-middle__entry {
    width: 95%;
  }
  .resto-main-menu-middle__dishes {
    width: 95%;
  }
  .resto-main-menu-middle__dessert {
    width: 95%;
  }
}

.resto-main-menu-middle-title-box {
  margin-top: 10px;
}
.resto-main-menu-middle-title-box__subtitle {
  align-self: flex-start;
  font-family: "roboto";
  font-size: 16px;
}
@media screen and (max-width: 992px) {
  .resto-main-menu-middle-title-box__subtitle {
    font-size: 15px;
  }
}
@media screen and (max-width: 567px) {
  .resto-main-menu-middle-title-box__subtitle {
    font-size: 14px;
  }
}
.resto-main-menu-middle-title-box__barre {
  width: 30px;
  margin-bottom: 20px;
  border-bottom: 2px solid #99E2D0;
  align-self: flex-start;
}

.section-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f6f6f6;
  width: 100%;
}
.section-description__texte {
  margin-top: 40px;
  font-family: "roboto";
  font-size: 20px;
}
@media screen and (max-width: 992px) {
  .section-description__texte {
    font-size: 19px;
  }
}
@media screen and (max-width: 567px) {
  .section-description__texte {
    font-size: 16px;
  }
}
.section-description__subtexte {
  font-family: "roboto";
  font-size: 15px;
}
@media screen and (max-width: 992px) {
  .section-description__subtexte {
    font-size: 14px;
  }
}
@media screen and (max-width: 567px) {
  .section-description__subtexte {
    font-size: 13px;
  }
}

.section-fonctionnement {
  padding: 50px 0px 50px 0px;
  width: 100%;
  background: white;
}
.section-fonctionnement__title {
  font-family: "roboto";
  font-size: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 25px;
}
@media screen and (max-width: 992px) {
  .section-fonctionnement__title {
    font-size: 19px;
  }
}
@media screen and (max-width: 567px) {
  .section-fonctionnement__title {
    font-size: 16px;
  }
}

.section-restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.section-restaurants__title {
  margin: 40px 0px 20px 0px;
  font-family: "roboto";
  font-size: 20px;
}
@media screen and (max-width: 992px) {
  .section-restaurants__title {
    font-size: 19px;
    width: 100%;
    margin-left: 50px;
  }
}
@media screen and (max-width: 567px) {
  .section-restaurants__title {
    font-size: 16px;
    width: 100%;
    margin-left: 50px;
  }
}

/*-----------------------------------------<<< Footer >>>------------------------------------------*/
.footer {
  background: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
}
@media screen and (max-width: 567px) {
  .footer {
    display: block;
  }
}
.footer__title {
  margin: 20px 0px 15px 20px;
  filter: brightness(50);
}
@media screen and (max-width: 567px) {
  .footer__title {
    width: 30%;
  }
}

.footer-list {
  list-style-type: none;
  text-decoration: none;
  margin: 0px 0px 0px 20px;
  font-family: "roboto";
  font-size: 16px;
}
@media screen and (max-width: 992px) {
  .footer-list {
    font-size: 15px;
  }
}
@media screen and (max-width: 567px) {
  .footer-list {
    font-size: 14px;
  }
}
.footer-list__items {
  color: white;
  margin-bottom: 0px;
}
.footer-list__items i {
  width: 20px;
  margin-right: 10px;
}
.footer-list__items a {
  color: white;
}

.localisation {
  background: #eaeaea;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0;
  box-shadow: inset 0px 4px 5px 0px lightgrey;
}
.localisation__logo {
  font-size: 20px;
}
.localisation__texte {
  margin-left: 20px;
  font-family: "roboto";
  font-size: 15px;
}
@media screen and (max-width: 992px) {
  .localisation__texte {
    font-size: 14px;
  }
}
@media screen and (max-width: 567px) {
  .localisation__texte {
    font-size: 13px;
  }
}

/*-----------------------------------------<<< Button >>>------------------------------------------*/
.section-description__button {
  background: linear-gradient(#FF79DA, #9356DC);
  margin: 40px 0 70px 0;
  border: none;
  border-radius: 40px;
  height: 55px;
  width: 250px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  display: block;
  font-family: "roboto";
  font-size: 15px;
}
@media screen and (max-width: 992px) {
  .section-description__button {
    font-size: 14px;
  }
}
@media screen and (max-width: 567px) {
  .section-description__button {
    font-size: 13px;
  }
}
.section-description__button:hover {
  cursor: pointer;
}

.resto-main-menu__button {
  background: linear-gradient(#FF79DA, #9356DC);
  margin: 40px 0 70px 0;
  border: none;
  border-radius: 40px;
  height: 55px;
  width: 250px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  font-family: "roboto";
  font-size: 15px;
}
@media screen and (max-width: 992px) {
  .resto-main-menu__button {
    font-size: 14px;
  }
}
@media screen and (max-width: 567px) {
  .resto-main-menu__button {
    font-size: 13px;
  }
}
.resto-main-menu__button:hover {
  cursor: pointer;
}

/*-----------------------------------------<<< Card >>>------------------------------------------*/
.menu-card {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  box-shadow: 0px 3px 7px 1px lightgray;
  width: 25%;
  height: 60px;
  border-radius: 18px;
  margin-top: 30px;
  background: #eaeaea;
}
.menu-card__number {
  border-radius: 100px;
  background: #9356DC;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -15px;
  color: white;
}
.menu-card__logo {
  margin-left: 5px;
}
.menu-card__texte {
  margin-left: 10px;
  font-family: "roboto";
  font-size: 15px;
}
@media screen and (max-width: 992px) {
  .menu-card__texte {
    font-size: 14px;
  }
}
@media screen and (max-width: 567px) {
  .menu-card__texte {
    font-size: 13px;
  }
}
.menu-card a:hover {
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .menu-card {
    width: 85%;
  }
}
@media screen and (max-width: 567px) {
  .menu-card {
    width: 85%;
  }
}

.resto-card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  box-shadow: 0px 3px 7px 1px lightgray;
  width: 85%;
  height: 210px;
  border-radius: 20px;
  margin-bottom: 30px;
  background: white;
  position: relative;
}
.resto-card__image {
  height: 70%;
  border-radius: 20px 20px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.resto-card__info {
  background: #99E2D0;
  color: #1b6150;
  position: absolute;
  text-shadow: inset 0px 0px 0px 0px black;
  width: 70px;
  padding: 5px;
  right: 10px;
  top: 10px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "roboto";
  font-size: 14px;
}
@media screen and (max-width: 992px) {
  .resto-card__info {
    font-size: 13px;
  }
}
@media screen and (max-width: 567px) {
  .resto-card__info {
    font-size: 12px;
  }
}

.resto-card-description {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin: 15px;
}
.resto-card-description__logo {
  font-size: 24px;
  margin-right: 10px;
}

.resto-card-description-info {
  display: flex;
  flex-direction: column;
  font-family: "roboto";
  font-size: 15px;
}
@media screen and (max-width: 992px) {
  .resto-card-description-info {
    font-size: 14px;
  }
}
@media screen and (max-width: 567px) {
  .resto-card-description-info {
    font-size: 13px;
  }
}
.resto-card-description-info__texte {
  margin-top: 5px;
}

.resto-main-menu-middle-card {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 3px 7px 1px lightgray;
  width: 95%;
  height: 65px;
  background: white;
  margin-bottom: 10px;
  display: flex;
}
.resto-main-menu-middle-card:hover {
  cursor: pointer;
}
.resto-main-menu-middle-card:hover > .resto-main-menu-middle-card-right {
  transform: translateX(0%);
}
.resto-main-menu-middle-card:hover > .resto-main-menu-middle-card-right i {
  transform: rotate(360deg);
}
.resto-main-menu-middle-card:hover > .resto-main-menu-middle-card-left {
  flex: 0 0 80%;
  max-width: 80%;
}

.resto-main-menu-middle-card-left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  flex: 1 1 100%;
  transition: flex 800ms linear;
  font-family: "roboto";
  font-size: 15px;
}
@media screen and (max-width: 992px) {
  .resto-main-menu-middle-card-left {
    font-size: 14px;
  }
}
@media screen and (max-width: 567px) {
  .resto-main-menu-middle-card-left {
    font-size: 13px;
  }
}
.resto-main-menu-middle-card-left__title {
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.resto-main-menu-middle-card-infos {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.resto-main-menu-middle-card-infos__texte {
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.resto-main-menu-middle-card-infos__price {
  font-weight: bold;
}

.resto-main-menu-middle-card-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  border-radius: 0px 10px 10px 0px;
  padding: 10px;
  transform: translateX(100%);
  transition: transform 800ms ease-in-out;
}
.resto-main-menu-middle-card-right__logo {
  transform: rotate(0deg);
  transition: transform 750ms ease-in-out;
  color: white;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */