//////////////////////////////////
//Auteur : techer adriani
//Email : techer_adriani@hotmail.fr
//Description : Représente le header du site.
/////////////////////////////////
/*-----------------------------------------<<< Header >>>------------------------------------------*/
//--!--<< index.html >>--!--//
.home-header{
    @include my-flexbox(center, center, $ignore, column);
    width: 100%;
    &__title{
        margin: 40px 0 20px 0;

        @include version-mobile{
            width : 40%;
        }
    };
}

//--!--<< a-la-française.html, la-note-enchantee.html, la-palette-du-gout.html, le delice-des-sens.html >>--!--//
//--!--<< Contient un bouton de retour vers la page d'acceuil et le titre du site >>--!--//
.resto-header{
    @include my-flexbox(flex-start, center, $ignore, $ignore); 
    width: 100%;
    
    &__back{
        margin: 20px 50px 0px 20px;
        font-size: 30px;
    };
    &__title{
        margin: 40px 0 20px 0;
        
        @include version-mobile{
            width : 40%;
        }
    };
}
