//////////////////////////////////
//Auteur : techer adriani
//Email : techer_adriani@hotmail.fr
//Description : Contient toute la partie navigation au projet.
/////////////////////////////////
/*-----------------------------------------<<< Navigation >>>------------------------------------------*/
//--!--<< index.html >>--!--//
.nav{
    @include my-flexbox(space-around, $ignore, $ignore, $ignore); 
    a:nth-child(3) {
        margin-bottom: 30px;
    };
    a:hover{
        cursor: pointer;
    };  
    @include version-mobile{
        @include my-flexbox(center, center, $ignore, column); 
    };
}