//////////////////////////////////
//Auteur : techer adriani
//Email : techer_adriani@hotmail.fr
//Description : Ici seront ajouter tous les sections du site.
/////////////////////////////////
//--!--<< phrase d'accroche et le bouton explorer >>--!--//
.section-description{
    @include my-flexbox(center, center, center, column);
    background: $fourth_color;
    width: 100%;
    &__texte{
        width: fit-content;
        @include version-mobile{
            width: 200px;
            text-align: center;
        }
        margin-top: 40px;
        @include my-fonts(true);
        @extend %font-responsive-x-large;
    };
    &__subtexte{
        width: fit-content;
        @include version-mobile{
            width:250px;
            text-align: center;
        }
        @include my-fonts(true);
        @extend %font-responsive-small;
    };
}

//--!--<< Le menu navigation >>--!--//
.section-fonctionnement{
    padding: 50px 0px 50px 0px;
    width: 100%;
    background: white;
    &__title{
        @include my-fonts(true);
        @extend %font-responsive-x-large; 
        width: fit-content;
        margin-left: 25px;
    };
}

//--!--<< Les différents restaurants partenaire. >>--!--//
.section-restaurants{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    &__title{
        width: 100%;
        margin: 25px;
        @include my-fonts(true);
        @extend %font-responsive-x-large;
    }; 
}