
//////////////////////////////////
//Auteur : techer adriani
//Email : techer_adriani@hotmail.fr
//Description : Représente le main du site.
/////////////////////////////////
/*-----------------------------------------<<< Body >>>------------------------------------------*/
//--!--<< index.html >>--!--//
.home-main{
    @include flexbox-center;
    flex-direction: column;
    background: #eaeaeaff;  
}

.resto-main{
    @include flexbox-center;
    flex-direction: column;
    background: #eaeaeaff;
    &__image{
        width: 100%;
        height: 300px;
        object-fit: cover;
        @include version-tablette{
            height: 250px;
        }
        @include version-mobile{
            height: 200px;
        } 
    }
}

//--!--<< a-la-française.html, la-note-enchantee.html, la-palette-du-gout.html, le delice-des-sens.html >>--!--//
.resto-main-menu{
    width: 100%;
    border-radius: 35px 35px 0px 0px;
    position: relative;
    top: -30px;
    background: #eaeaeaff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resto-main-menu-up{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 20px;
    align-self: flex-start;
    width: 92%;
    @include version-tablette{
        width: 86%;
    }
    @include version-mobile{
        width: 80%;
    }
    &__title{
        margin: 30px 0px 10px 0px;
        @include my-fonts(false);
        font-size: map-get($font-size-desktop-map , "x-large");
        @include version-tablette{
            font-size: map-get($font-size-tablette-map , "x-large");
        }
        @include version-mobile{
            font-size: map-get($font-size-mobile-map , "x-large");
        } 
    };
    &__logo{
        font-size: 24px;
    };
}

@keyframes enter {
    to {
      opacity: 1;
      transform: translateY(0rem);
    }
  }

.resto-main-menu-middle{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0;
    transform: translateY(2rem);
    animation: enter 1500ms forwards;
    &__entry{
        width: 32%;

    };
    &__entry > a{
        animation: enter 0ms forwards;
        opacity: 0;
        transform: translateY(2rem);
        &:nth-of-type(1){
            animation-delay: 500ms;
        }
        &:nth-of-type(2){
            animation-delay: 1000ms;
        }
        &:nth-of-type(3){
            animation-delay: 1500ms;
        }
        
    };
    &__dishes{
        width: 32%;
    };
    &__dishes > a{
        animation: enter 500ms forwards;
        opacity: 0;
        transform: translateY(2rem);
        &:nth-of-type(1){
            animation-delay: 1500ms;
        }
        &:nth-of-type(2){
            animation-delay: 2000ms;
        }
        &:nth-of-type(3){
            animation-delay: 2500ms;
        }
        
    };
    &__dessert{
        width: 32%;
    }
    &__dessert > a{
        animation: enter 1000ms forwards;
        opacity: 0;
        transform: translateY(2rem);
        &:nth-of-type(1){
            animation-delay: 3000ms;
        }
        &:nth-of-type(2){
            animation-delay: 3500ms;
        }
        &:nth-of-type(3){
            animation-delay: 4000ms;
        }
        
    };
    @include version-tablette{
        @include flexbox-center;
        width: 95%;
    &__entry{
        width: 95%;
    };
    &__dishes{
        width: 95%;
    };
    &__dessert{
        width: 95%;
    }
    }
}

.resto-main-menu-middle-title-box{
    margin-top: 10px;
    &__subtitle{
        align-self: flex-start;
        @include my-fonts(true);
        font-size: map-get($font-size-desktop-map , "normal");
        @include version-tablette{
            font-size: map-get($font-size-tablette-map , "normal");
        }
        @include version-mobile{
            font-size: map-get($font-size-mobile-map , "normal");
        } 
    };
    &__barre{
        width: 30px;
        margin-bottom: 20px;
        border-bottom: 2px solid $tertiary_color;
        align-self: flex-start;
    };
}



