//////////////////////////////////
//Auteur : techer adriani
//Email : techer_adriani@hotmail.fr
//Description : Représente le footer du site.
/////////////////////////////////
/*-----------------------------------------<<< Footer >>>------------------------------------------*/
//--!--<< index.html >>--!--//
.footer{
    //@include show-border(1px, map-get($style-border-map, "dotted"), map-get($colors-map, "red"));
    background: #353535ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
    @include version-mobile{
        display: block;
    };
    &__title{
        margin: 20px 0px 15px 20px;
        filter: brightness(50);
        @include version-mobile{
            width : 30%;
        };
    };
}

.footer-list{
    list-style-type: none;
    text-decoration: none;
    margin: 0px 0px 0px 20px;
    @include my-fonts(true);
    font-size: map-get($font-size-desktop-map , "normal");
    @include version-tablette{
        font-size: map-get($font-size-tablette-map , "normal");
    }
    @include version-mobile{
        font-size: map-get($font-size-mobile-map , "normal");
    } 
    &__items{
        color: white;
        margin-bottom: 0px;
        i{
            width: 20px;
            margin-right: 10px;
        };
        a{
            color: white; 
        }; 
    }; 
}