//--!--<< phrase d'accroche et le bouton explorer >>--!--//
.section-description{
    @include flexbox-center;
    flex-direction: column;
    background: #f6f6f6ff;
    width: 100%;
    &__texte{
        margin-top: 40px;
        @include my-fonts(true);
        font-size: map-get($font-size-desktop-map , "x-large");
        @include version-tablette{
            font-size: map-get($font-size-tablette-map , "x-large");
        }
        @include version-mobile{
            font-size: map-get($font-size-mobile-map , "x-large");
        }  
    };
    &__subtexte{
        @include my-fonts(true);
        font-size: map-get($font-size-desktop-map , "small");
        @include version-tablette{
            font-size: map-get($font-size-tablette-map , "small");
        }
        @include version-mobile{
            font-size: map-get($font-size-mobile-map , "small");
        }  
    };
}

//--!--<< Contient le menu navigation >>--!--//
.section-fonctionnement{
    padding: 50px 0px 50px 0px;
    width: 100%;
    background: white;
    &__title{
        @include my-fonts(true);
        font-size: map-get($font-size-desktop-map , "x-large");
        @include version-tablette{
            font-size: map-get($font-size-tablette-map , "x-large");
        }
        @include version-mobile{
            font-size: map-get($font-size-mobile-map , "x-large");
        }  
        width: fit-content;
        margin-left: 25px;
    };
}

.section-restaurants{
    @include flexbox-center;
    flex-direction: column;
    width: 100%;
    &__title{
        margin: 40px 0px 20px 0px;
        @include my-fonts(true);
        font-size: map-get($font-size-desktop-map , "x-large");
        @include version-tablette{
            font-size: map-get($font-size-tablette-map , "x-large");
            width: 100%;
            margin-left: 50px;
        }
        @include version-mobile{
            font-size: map-get($font-size-mobile-map , "x-large");
            width: 100%;
            margin-left: 50px;
        } 
    }; 
}