//--!--<< phrase d'accroche et le bouton explorer >>--!--//
.section-description{
    @include my-flexbox(center, center, center, column);
    background: $fourth_color;
    width: 100%;
    &__texte{
        text-align: center;
        margin-top: 40px;
        @include my-fonts(true);
        @extend %font-responsive-x-large;
    };
    &__subtexte{
        text-align: center;
        @include my-fonts(true);
        @extend %font-responsive-small;
    };
}

//--!--<< Contient le menu navigation >>--!--//
.section-fonctionnement{
    padding: 50px 0px 50px 0px;
    width: 100%;
    background: white;
    &__title{
        @include my-fonts(true);
        @extend %font-responsive-x-large; 
        width: fit-content;
        margin-left: 25px;
    };
}

.section-restaurants{
    @include my-flexbox(center, center, $ignore, column);
    width: 100%;
    &__title{
        width: 100%;
        margin: 40px 0px 20px 55px;
        @include my-fonts(true);
        @extend %font-responsive-x-large;
        @include version-tablette{
            width: 100%;
            margin-left: 50px;
        }
        @include version-mobile{
            width: 100%;
            margin-left: 50px;
        } 
    }; 
}