//////////////////////////////////
//Auteur : techer adriani
//Email : techer_adriani@hotmail.fr
//Description : contient les mixins.
/////////////////////////////////

//--!--<< Sert juste à visualiser le contour de l'éléments utile lors des phases de positionnements. >>--!--//
@mixin show-border($width: 1px, $style: solid, $color: red){
    border: $width $style $color;
}

//--!--<< Si true alors ont affiche le font 'roboto', sinon ont affiche le fond 'shrikhand'. >>--!--//
@mixin my-fonts($font: false){
    @if $font == true{
        font-family: $fontSecondary;

    }@else{
        font-family: $fontPrimary;
    };
}

@mixin version-tablette{
    @media screen and (max-width:992px){
        @content;   
    } 
}

@mixin version-mobile{   
    @media screen and (max-width:567px){
        @content; 
     } 
}


//--!--<< Permet de centrer les enfants par rapport au parent. >>--!--//
@mixin flexbox-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin menu-card-box{
    height: auto;
    width: auto;
    
}


