//////////////////////////////////
//Auteur : techer adriani
//Email : techer_adriani@hotmail.fr
//Description : contient les variables qui serviront pour l'ensemble du site.
/////////////////////////////////

//--!--<< Tous les variables de type map seront ajouter ici >>--!--//
$colors-map:(
    "black": black,
    "red": red,
    "yellow": yellow,
    "green": green,
    "blue": blue
);

$style-border-map:(
    "dotted": dotted,
    "dashed": dashed,
    "solid": solid,
    "groove": groove,
    "ridge": ridge,
    "inset": inset,
    "outset": outset
);

//--!--<< Taille >>--!--//
$font-size-desktop-map:(
    "x-large": 24px,
    "large": 18px,
    "normal": 16px,
    "small": 15px,
    "x-small": 14px
);

$font-size-tablette-map:(
    "x-large": 23px,
    "large": 17px,
    "normal": 15px,
    "small": 14px,
    "x-small": 13px
);

$font-size-mobile-map:(
    "x-large": 19px,
    "large": 15px,
    "normal": 14px,
    "small": 13px,
    "x-small": 12px
);

$breakpoints-map: (
    "mobile": 567px,
    "tablette": 992px
);

//------------<< Identitée graphique  >>-------------//
//--!--<< Couleurs >>--!--//
$purple-color : #9356DC;
$pink-color : #FF79DA;
$light-green-color : #99E2D0;
$lightgray-color : #f6f6f6ff;

$primary_color : $purple-color;
$secondary_color : $pink-color;
$tertiary_color : $light-green-color;
$fourth_color : $lightgray-color;

//--!--<< Polices >>--!--//
$fontPrimary : "shrikhand";
$fontSecondary : "roboto";

//--!--<< Utiliser comme argument pour le mixin : my-flexbox, elle permet d'ignorer un ou plusieurs ajout de propriétés.  >>--!--//
$ignore : 'ignore';