/**------------<< Identitée graphique  >>-------------**/
/**------<< Couleurs >>-------**/
$colorPrimary : #9356DC;
$colorSecondary : #FF79DA;
$colorTertiary : #99E2D0;

/**------<< Police >>-------**/
/** logo et titre : Shrikland
    texte : Roboto

$fontPrimary : Shrikland;
$fontSecondary : Roboto;
**/

/**------------<< Responsive Design  >>-------------**/
$breakpoints: (
    mobile: 567px,
    tablette: 992px
);