//////////////////////////////////
//Auteur : techer adriani
//Email : techer_adriani@hotmail.fr
//Description : les widgets corresponds à des bouts de divers composants utiles.
/////////////////////////////////
//--!--<< affiche la localisation d'un lieu >>--!--//
.localisation{
    background: $fourth_color;
    width: 100%;
    @include flexbox-center;
    padding: 20px 0 20px 0;
    box-shadow: inset 0px 4px 5px 0px lightgrey;
    &__logo{
        font-size: 20px;
    };
    &__texte{
        margin-left: 20px;
        @include my-fonts(true);
        @extend %font-responsive-small;
    };
}

//--!--<< Correspond au loader sur la page principale du site. >>--!--//
.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: hsl(200deg 1% 1%);
    animation: slide-circle 2000ms forwards ease-out;
    animation-delay: 2.5s;
    pointer-events: none;
    z-index: 1;
}

.spinner {
    position: relative;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
 }
 
 .spinner div {
    animation: spinner-loader 1.875s infinite backwards;
    background-color: $primary_color;
    border-radius: 50%;
    height: 100%;
    position: absolute;
    width: 100%;
 }
 
 .spinner div:nth-child(1) {
    animation-delay: 0.15s;
    background-color: rgba(147,86,220,0.9);
 }
 
 .spinner div:nth-child(2) {
    animation-delay: 0.3s;
    background-color: rgba(147,86,220,0.8);
 }
 
 .spinner div:nth-child(3) {
    animation-delay: 0.45s;
    background-color: rgba(147,86,220,0.7);
 }
 
 .spinner div:nth-child(4) {
    animation-delay: 0.6s;
    background-color: rgba(147,86,220,0.6);
 }
 
 .spinner div:nth-child(5) {
    animation-delay: 0.75s;
    background-color: rgba(147,86,220,0.5);
 }

 //--!--<< le coeur se remplit progressivement au survol d'une souris. >>--!--//
 .widget-heart{
   height: 60px;
   width: fit-content;
   @include my-flexbox(center, $ignore, $ignore, $ignore);
   margin-right: 15px;
   
   &__border{
      font-size: 25px;
      z-index: 1;
      opacity: 1;
      transition: opacity 1300ms;
  };
   &__full{
      font-size: 24px;
      color: transparent;
       background-image: degrader-lineaire();
       -webkit-background-clip: text;
       background-clip: text; 
       transform: scale(0);
       transition: transform 1300ms;
   };
   &:hover > &__full{
      transform: scale(1);
   }
   &:hover > &__border{
      opacity: 0;
      
   }
}

.widget-heart i{
   position: absolute;
}